html, body {
	// background: #fffff5;
	color: #333;
	height: 100%;
	font: 12px/1.5 "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
#app {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
canvas {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: auto;
	opacity: 0.8;
	pointer-events: none;
}
.container {
	margin: 0 10%;
	flex: 1;
}

.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 100px auto;
	&__circle1, &__circle2 {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #aaa;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
		animation: sk-bounce 2.0s infinite ease-in-out;
	}
	&__circle2 {
		animation-delay: -1.0s;
	}
}
.home {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 300px;
	margin-top: -150px;
	margin-left: -150px;
	text-align: center;
	line-height: 1;
	user-select: none;
	h1 {
		font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
		font-weight: 700;
		font-size: 30px;
		letter-spacing: 9px;
		text-transform: uppercase;
	}
	h2 {
		color: #999;
		font-weight: normal;
		font-size: 15px;
		letter-spacing: .12em;
		margin-bottom: 30px;
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			font-size: 14px;
			line-height: 2em;
			margin: 0;
			letter-spacing: 2px;
			a {
				color: #999;
				text-decoration: none;
				transition: all .3s ease-in-out;
				&:hover {
					color: #E46914;
					font-size: 16px;
				}
			}
		}
	}
	footer {
		color: #ccc;
		left: 0;
		bottom: 0;
		width: 100%;
		text-align: center;
		position: absolute;
	}
}
@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
	} 50% {
		transform: scale(1.0);
	}
}
