.article-list {
	list-style: none;
	padding: 0;
	&-item {
		border-bottom: 1px solid #eee;
		padding: 0 10px;
		padding-bottom: 20px;
		cursor: pointer;
		transition: background .3s ease-in;
		&:hover {
			background: #fdfdfd;
		}
		&:hover &__title {
			color: #3ed074;
		}
		&__head {
			padding: 20px 0;
		}
		&__title {
			font-size: 26px;
			vertical-align: middle;
			transition: color .3s ease-in;
		}
		&__label {
			font-size: 14px;
			padding: 2px 8px;
			border: 1px solid #fff;
			margin-right: 5px;
		}
		&__author {
			font-size: 16px;
		}
	}
}
