.article-list {
	list-style: none;
	padding: 0 5%;
	margin-top: 20px;
	&-item {
		border-bottom: 1px dashed #eee;
		padding: 10px;
		cursor: pointer;
		transition: padding .3s ease-in;
		&:hover {
			padding-left: 30px;
		}
		&:hover &__title {
			color: #009dff;
		}
		&__head {
			margin-bottom: 5px;
		}
		&__title {
			font-size: 20px;
			vertical-align: middle;
			transition: color .3s ease-in;
			color: #555;
		}
		&__label {
			font-size: 14px;
			padding: 2px 8px;
			border: 1px solid #fff;
			margin-right: 5px;
		}
		&__author, &__time {
			transition: color .3s ease-in-out;
		}
		&__author {
			font-size: 16px;
			color: #888;
		}
		&__time {
			color: #aaa;
		}

		&:hover &__author, &:hover &__time {
			color: #fda700;
		}
	}
}
